frontend kubernetes
    bind {{ iid.ip }}:6443
    option tcplog
    mode tcp
    default_backend kubernetes-controlplane-nodes

backend kubernetes-controlplane-nodes
    mode tcp
    balance roundrobin
    option tcp-check
    server controlplane01 {{ iid_load_balancer.controlplane01 }}:6443 check fall 3 rise 2
    server controlplane02 {{ iid_load_balancer.controlplane02 }}:6443 check fall 3 rise 2
