apiVersion: v1
clusters:
- cluster:
    certificate-authority: /var/lib/kubernetes/pki/ca.crt
    server: https://{{ iid_worker.flags_load_balancer }}:6443
  name: bootstrap
contexts:
- context:
    cluster: bootstrap
    user: kubelet-bootstrap
  name: bootstrap
current-context: bootstrap
kind: Config
preferences: {}
users:
- name: kubelet-bootstrap
  user:
    token: {{ iid_k8s_tls_bootstrapping.token_id }}.{{ iid_k8s_tls_bootstrapping.token_secret }}
